@tailwind base;

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;


.slick-next {
  display: none !important;
}

.slick-prev {
  display: none !important;
}

/*.slick-slide {*/
/*  display: none !important;*/
/*}*/


.contain-svg > img {
  /*width: 100%*/
}

/*.contain-svg:nth-child(1) {*/
/*  height: 6em;*/
/*  width: 6em*/
/*}*/

/*.contain-svg:nth-child(2) {*/
/*  height: 100px;*/
/*  width: 100px*/
/*}*/

.contain-svg {
  /*float: left;*/
  margin: 20px
}
.div-svg {
  width: 100% !important;
  text-align: -webkit-center !important;
  /*border: solid 2px green;*/
}

.section-techs {
  margin-top: 100px;
  height: 360px;
  display: flex;
  background-image: url(https://wallpapercave.com/wp/pFtzuPn.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.slick-slider {
  width: 100% !important;
  /*background-color: gray;*/
  align-self: center;
}



.section-techs > #first {
  /*background-color: red;*/
  /*width: 100%;*/
  /*height: 150px;*/
  position: relative;
}
.section-techs > #second {
  /*background-color: blue;*/
  /*width: 100%;*/
  /*height: 150px;*/
  position: relative;
  /*margin-top: -130px;*/
  /*margin: -200px;*/
}
